<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="'width-device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style2.css">
</head>

<body>
<div class="section">
    <div class="container">
        <div class="content">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>Sunset is the time of day when our sky meets the outer space solar winds.</h3>
                <p>There are blue, pink, and purple swirls, 
                    spinning and twisting, like clouds of balloons caught in a whirlwind. 
                    The sun moves slowly to hide behind the line of horizon, while the moon 
                    races to take its place in prominence atop the night sky. People slow 
                    to a crawl, entranced, fully forgetting the deeds that must still be 
                    done. There is a coolness, a calmness, when the sun does set.</p>
                    <div class="social">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
            </div>
        </div>
        <div class="image-section">
            <img src="images/slide1.jpg">
        </div>
    </div>
</div>

</body>
</html>
