{% extends "basehome.html" %}
{% block title %}
Home - CURA
{% endblock title %}
{% load static %}

{% block content %}
<main>
    <article>
        <section class="section hero" id="home" aria-label="hero" data-section>
            <div class="container">
                <ul class="has-scrollbar">
                    <li class="scrollbar-item">
                        <div class="hero-card has-bg-image" style="background-image: url('./assets/images/cura.png')">
                            <div class="card-content">
                                <h1 class="h1 hero-title">
                                    Your Health<br>
                                    Our Priority !
                                </h1>
                                <p class="hero-text">
                                    Your Prescription For Health.
                                </p>
                                <p class="price">Starting at Rs.17.99</p>
                                <a href="#" class="btn btn-primary">Shop Now</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section collection" id="collection" aria-label="collection" data-section>
            <div class="container">
                <ul class="collection-list">
                    <li>
                        <div class="collection-card has-before hover:shine">
                            <h2 class="h2 card-title">Essentials</h2>
                            <p class="card-text">Starting at ₹100</p>
                            <a href="#" class="btn-link">
                                <span class="span">Shop Now</span>
                                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                            </a>
                            <div class="has-bg-image" style="background-image: url('./assets/images/coll1.jpg')"></div>
                        </div>
                    </li>
                    <li>
                        <div class="collection-card has-before hover:shine">
                            <h2 class="h2 card-title">What's New?</h2>
                            <p class="card-text">Get the glow</p>
                            <a href="{% url 'base:product' %}" class="btn-link">
                                <span class="span">Discover Now</span>
                                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                            </a>
                            <div class="has-bg-image" style="background-image: url('./assets/images/coll2.jpeg')"></div>
                        </div>
                    </li>
                    <li>
                        <div class="collection-card has-before hover:shine">
                            <h2 class="h2 card-title">Ayurveda</h2>
                            <p class="card-text">Starting at ₹79</p>
                            <a href="{% url 'base:ayurveda' %}" class="btn-link">
                                <span class="span">Discover Now</span>
                                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                            </a>
                            <div class="has-bg-image" style="background-image: url('./assets/images/coll4.jpg')"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </article>
</main>

<footer>
    <div class="footer-bottom">
        <div class="wrapper">
            <ul class="social-list">
                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
        <a href="#" class="logo">
            <img src="{% static 'images/logo.png' %}" width="179" height="26" loading="lazy" alt="CURA">
        </a>
        <img src="images/pay.gif" width="313" height="28" alt="available all payment method" class="w-100">
    </div>
</footer>

<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
</a>

<script src="./assets/js/script.js" defer></script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.dropdown').click(function() {
            $(this).find('.dropdown-menu').slideToggle();
        });
    });
</script>

{% endblock %}
