{% extends "basehome.html" %}
{% block title %} About {% endblock title %}
{% block body %}
<br>

<h2 class="text-center bg-dark text-success">Your Search results......</h2>

<br />
{% if allItems|length < 1%}

<h1>Your Search did not match <span class="badge bg-secondary">Try Again</span></h1>
<ul>
<li>Make Sure You have Spelled Correct</li>
</ul>
{% endif %}

<br />


<div class="container mt-2">

    <div class="row">

        {% for i in Med  %}
        <div class="col row-cols-1 row-cols-md-3 g-4 py-5">
            <div class="card" style="width: 18rem; border-radius:30px;">
                <img src="{{i.medicine_image.url}}" class="card-img-top border-radius:30px; padding:30px;border-radius:30px;" alt="...">
                <div class="card-body">
                  <h3 class="card-title">{{i.medicine_name}}</h3> 
                  <p class="text-success">Price : {{i.medicine_price}} Rs</p>

                  <p class="text-danger"><b>Expiry Date  : {{i.medicine_exp}}</b></p>
                  <a href="{% url 'base:myorders' %}" class="btn btn-success border-radious:30px bg:green;">Add To Cart</a>
                </div>
              </div>

        </div>
        {% endfor %}
    </div>

    <div class="row">

        {% for i in Prod  %}
        <div class="col row-cols-1 row-cols-md-3 g-4 py-5">
            <div class="card" style="width: 18rem; border-radius:30px;">
                <img src="{{i.prod_image.url}}" class="card-img-top border-radius:30px; padding:30px;border-radius:30px;" alt="...">
                <div class="card-body">
                  <h6 class="card-title">{{i.prod_name}}</h6>
                  <p class="text-success">Price : {{i.prod_price}} Rs</p>
                  <p class="text-danger"><b>Expiry Date  : {{i.prod_exp}}</b></p>
                  <a href="{% url 'base:myorders' %}" class="btn btn-success border-radious:30px bg:green; ">Add To Cart</a>
                </div>
              </div>

        </div>
        {% endfor %}
    </div>


   


</div>


{% endblock body %}
