@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 70px; /* Add padding to the top of the body */
    padding-bottom: 70px; /* Add padding to the bottom of the body */
    background: url('images/blue.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffffe7;
    box-shadow: 0  0 15px rgba(0,0,0,.1);
}

.container header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.input-fields {
    margin-bottom: 10px; /* Add margin bottom to create space between input fields */
}

.input-fields label {
    display: block; /* Make labels block-level elements */
    margin-bottom: 5px; /* Add margin bottom to create space between label and input */
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"],
.container input[type="date"],
.container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background-color: #0056b3;
}

.input-fields .gender-box {
    margin-bottom: 20px; /* Add margin bottom to create space between input fields */
}

.input-fields .gender-box label {
    display: block; /* Make labels block-level elements */
    margin-bottom: 5px; /* Add margin bottom to create space between label and input */
}

.input-fields .gender-box select {
    width: 100%;
    /* padding: 10px; */
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

